#nav-data {
	margin-top: 5px;
	height: 60px;
	width: auto;
	border-radius: 10px 10px 0px 0px;
	background-color: #444;
}

#nav-data a {
	padding: 5px 11%;
	text-decoration: none;
	color: #fff;
	float: left;
}

.pencarian {
	padding: 3px;
	height: 35px;
	background-color: #eee;
}

#search {
	margin: 5px 2% 5px 10%;
	height: 25px;
	width: 75%;
	border: 1px solid #444;
	border-radius: 2px;
}

#search:focus {
	border: 1px solid #00A2EB;
	box-shadow: 0 0 1px #ccccff, 0 0 2px #ccccff, 0 0 6px #ccccff, 0 0 12px #ccccff;
}

.data th, .data td {
	height: 30px;
	border: 1px solid #444;
}

.col-2 {
	color: #fff;
	background-color: #00A2EB;
}

.col-2:nth-child(1) {
	padding: 0px 50px;
	width: 5%;
}

.col-2:nth-child(2) {
	padding: 0px 100px;
	width: 30%;
}

.col-2:nth-child(3) {
	padding: 0px 30px;
	width: 45%;
}

.col-2:nth-child(4) {
	padding: 0px 30px;
}