	h2 {
		font-family: sans-serif;
		color: #444;
	}

	hr {
		background-color: #444;
	}

	.info-input td {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.input {
		border: 1px solid #000000;
		border-radius: 2px;
	}

	.input:focus {
		border: 1px solid #00A2EB;
		 box-shadow: 0 0 1px #ccccff, 0 0 2px #ccccff, 0 0 6px #ccccff, 0 0 12px #ccccff;
	}

	.input, .output {
		height: 20px;
		width: 400px;
	}
	
	i {
		padding-right: 5px;
	}

	table {
		border-collapse: collapse;
	}
	
	.table table, .table td, .table th {
		border: 1px solid black;
		padding: 10px;
	}
		
	.table th {
		background-color: #00A2EB;
		color: white;
	}

	table button{
		background-color: #00A2EB;
		color: white;
		padding: 5px;
		border-radius: 5px;
		border: none;
	}

	.submit{
		padding: 5px;
	}
	
	.tombolmerah{
		background-color: #aaa;
		color: white;
		border-radius: 5px;
		border: none;
		padding: 8px 18px;
		margin: 5px;
		font-size: 13px;
	}
		
	.tombolbiru{
		background-color: #aaa;
		color: white;
		border-radius: 5px;
		border: none;
		padding: 8px 18px;
		margin: 5px;
		font-size: 13px;
	}
 
 	.tombolmerah:hover {
 		background-color: #ff0000;
 	}

 	.tombolbiru:hover {
 		background-color: #00A2EB;
 	}
